./.venv
./.env
.env
env

.anchor
test-ledger
.yarn

target/
**/*.rs.bk

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules/
dist/
dist-ssr/
*.local